{% extends "base_generic.html" %}

{% block title %}<title>myBooks - Home</title>{% endblock %}

{% block content %}
  <h1>myBooks Home</h1>
  <p>Welcome to myBooks, your personal books CMS.</p>
  <a class="btn btn-primary" href="{% url 'author_create' %}">Register new author</a>
  <a class="btn btn-secondary" href="{% url 'book_create' %}">Register new book</a>
  <a class="btn btn-info" href="{% url 'genre_create' %}">Register new genre</a>

  <p class="mt-5">The catalog has the following record counts:</p>
  <ul>
    <li><strong>Books Total:</strong> {{ num_books }}</li>
    <li><strong>Authors:</strong> {{ num_authors }}</li>
    <li><strong>Want to read:</strong> {{ num_want }}</li>
    <li><strong>Already read:</strong> {{ num_already }}</li>
    <li><strong>Reading now:</strong> {{ num_now }}</li>
  </ul>

{% endblock %}
