{% extends "base_generic.html" %}

{% block content %}

  <h1>myBooks Home</h1>
  <p>Welcome to myBooks, a website developed by Rodolfo Nei.</p>
  <h2>Dynamic content</h2>
  <p>The catalog has the following record counts:</p>
  <ul>
    <li><strong>Books Total:</strong> {{ num_books }}</li>
    <li><strong>Authors:</strong> {{ num_authors }}</li>
    <li><strong>Want to ready:</strong> {{ num_want }}</li>
    <li><strong>Already read:</strong> {{ num_already }}</li>
    <li><strong>Reading now:</strong> {{ num_now }}</li>
  </ul>

{% endblock %}